<div class="large-4 columns">

<h1>Your new short link is: <%= @url.short_link %></h1>


<br/><br/>
<%= link_to 'Home', root_path, class: "button" %>
</div>


<a href="<%= @url.short_link %>"><%= @url.short_link %></a>