<table>
  <thead>
    <tr>
      <th width="150">Title</th>
      <th width="150">Year Released</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
	    <tr>
	      <td><%= link_to movie.title, movie_path(movie.id) %></td>
	      <td><%= link_to movie.year_released, movie_path(movie.id) %></td>
	      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
